
body{
    font-family: Arial, Helvetica, sans-serif;
    
}

table{
    border-collapse: collapse;
    width: 500px;
    
    position: relative;
}
caption{
    font-size: 1.3em;
    font-weight: bold;
    background-color: lightgrey;
}
thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: black;
}

th,td{
    border: 1px solid black;
    padding: 10px;

    
}
th{
    background-color: gray;
    color: white;
}
.num{
   
    text-align: right;
    
}
tfoot th {
    background-color: rgb(0, 0, 0);
    color: white;
}
tbody > tr:nth-child(2n){
    background-color: lightgrey;
}
